/* home page  */

.top-part{
  background: url(assets/nine.jpeg);
  height: 600px;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
}
.wrapper{
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.7;
  position: absolute;
}
.intro{
  text-align: center;
  font-size: 60px;
  color:#ffffff;
  z-index: 1;
}
.name{
  color: #B42D46;
}
nav{
  background-color: #040720;
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #45f3ff;
  padding-top: 20px;
  margin-top: -16px;
}
nav ul{
  list-style-type: none;
}
nav li{
  display: inline-block;
  margin-left: 20px;
}
nav a{
  text-decoration: none;
  color: #ffffff;
  padding:5px;
  transition: all .4s ease;
}
nav a:hover{
  background-color: #B42D46;
}
/* end of home part */

/* beginning of about part */ 
.about{
  display: flex;
  color: #000000;
  padding-top: 20px;
  margin-top: 20px;
  font-size: 20px;
}
.hexagon{
  margin-left: 5px;
  width: 500px;
  height: 400px;
  background: #000000;
  background: transparent;
  border-radius: 50%;
  transform: rotate(120deg);
  overflow: hidden;
  }  
.hexagon-one{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: rotate(-60deg);
  overflow: hidden;
  background: #000000;
  background: transparent;
}
.hexagon-two{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: rotate(-60deg);
  overflow: hidden;
  background:url(assets/moki.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  
}
.cookie{
  padding-top: 50px;
  padding-left: 50px;
  margin-bottom: 140px;
}
.me{
  padding-left: 60px;
}
.special{
  padding-left: 165px;
} 
section{ 
  width: 100%;
  height: 105vh;
  background-color: #D5DBDB;
} 
#topic{
  font-size: 30px;
  font-style: italic;
  padding-top: 20px;
}
 .content{
  position: absolute;
  top: 150%;
  left: 50%;  
  transform: translate(-50%,-50%);
  width: 1000px;
  height: 500px;
  background: transparent;
  border-bottom: 3px solid #000000;
  border-left: 3px solid #000000;
  display: flex;
  font-size: 22px;
}
.content .skills{
  position: relative;
  flex: 1;
  text-align: center;
} 
.content .skills .graph{
  position: absolute;
  width: 50%;
  background: rgba(0,0,0,1);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.content .skills .graph:before{
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 0;
}
.content .skills .graph:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255,255,255,.1);
}  
.content .skills .graph .percentage{
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #C0392B;
  font-weight: bold; 
  font-size: 20px;
}
.content .skills .module{  
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #000000;
  font-weight: bold;
  font-size: 20px;
}
.random{
  background: url(assets/eight.jpg);
  background-repeat: no-repeat;
  display: flex;
  margin-top: 20px;
}
.facts{
  padding-top: 120px;
  padding-left: 140px;
  color:#ffffff;
  padding-bottom: 170px;
  font-size: 30px;
  transform: rotate(10deg);
  font-style: italic;
  margin-bottom: 210px;
}
.free{
  display: inline-block;
  padding-top: 150px;
  padding-left: 280px;
  line-height: 28px;
}
/* end of about part */

/*start of projects part  */

.mid{ 
  background-color:#D5DBDB;
  height: 600px;
}
.tlist{
  text-align: center;
  font-size: 45px;
  color: #000000;
  padding-top: 30px;
  text-decoration: underline;
  margin-top: 20px;
  padding-bottom: 10px;
}
button{
  padding: 15px;
  font-size: 20px;
  color: #B42D46;
  background-color: #1B1C31;
  margin-top: 10px;
}
.mangoes{ 
  font-size: 25px !important;
}
.middle{
  width: 70%;
  left: 8%;
  top: 40%;
  position: absolute;
}
.malik{
  border-radius: 30px;
  box-shadow: 5px 5px 5px 5px #000000;
}
.bubble{
  position: absolute;
  top: 25%; 
  left: 10%;
  transform: translate(-50% -50%);
  line-height: 50px;
}
.fifteen{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 30%;
  opacity: 0;
  transition:all .5s ease;
  background-color: #D5DBDB;
}
.middle:hover .fifteen{
  opacity: 1;
 } 
.anita{
  width: 65%;
  left: 40%;
  top: 40%;
  position: absolute;
} 
.pictwo{
  display: block;
  width: 230px;
  height: 380px;
  box-shadow: 5px 5px 5px 5px #000000;
  border-radius: 30px;
}
.honey{
  position: absolute;
  transition: all .5s ease;
  opacity: 0;
  background-color: #D5DBDB;
  height: 100%;
  width: 40%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
} 
.anita:hover .honey{
  opacity: 1 ;
}
.banana{
  position: absolute;
  top: 55%;
  left: 43%;
  transform: translate(-50%, -50%);
  line-height: 50px;
}
.guava{ 
  width: 72%;
  left: 74%;
  top: 10%;
  position: absolute;
}
.picthree{
  display: block;
  width: 230px;
  height: 380px;
  border-radius: 30px;
  box-shadow: 5px 5px 5px 5px #000000;
}
.etinga{
  position: absolute;
  transition: all .5s ease;
  opacity: 0;
  background-color: #D5DBDB;
  height: 100%;
  width: 30%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.guava:hover .etinga{
  opacity: 1 ;
}
.tinga{
  position: absolute;
  width: 70%;
  top: 10%;
  left: 20%;
  line-height: 50px;
}
/* end of portfolio part */

/* contact part */
 .container{
   background-color: #1B1C31 ;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: #45f3ff;

 }
 footer{
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   width: 80%;
   padding: 20px;

 }
 .container .row{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(autofit,minmax(300px,1fr));
 }
 .container .row .col{
   position: relative;
   width: 100%;
   padding: 0 10px;
   margin: 30px 0 10px;
   transition: 0.5s;
 }
 .container .row .form{
   position: relative;
   width: 100%;
   height: 40px;
   color: #45f3ff;
 }
 .container .row .form input,.container .row .form .message textarea{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 0 10px;
    font-size: 20px;
    z-index: 1;
    color: white;


 }
 .container .row .form .text{
   position: absolute;
   top: 0;
   left: 0;
   line-height: 40px;
   padding: 0 10px;
   display: block;
   transition: 0.5s;
   pointer-events: none;
 }
 .container .row .form input:focus + .text , .container .row .form input:valid + .text{
   top: -35px;
   left: -10px;
 }

 .container .row .form .line{
   position: absolute;
   bottom: 0;
   display: block;
   width: 100%;
   height: 2px;
   background: #45f3ff;
   transition: 0.5s;
   border-radius: 2px;
   pointer-events: none;
 }
 .container .row .form input:focus ~ .line , .container .row .form input:valid ~ .line{
   height: 100%;
 }
 .container .row .form #message{
   position: absolute;
   width: 100%;
   height: 100px;
   padding: 10px 5px;

 }
 .container .row .form #message{
   height: 100%;
   resize: none;
 }
 .container .row .message textarea:focus + .text , .container .row .message textarea:valid + .text{
  top: -35px;
  left: -10px;
}
.container .row .message textarea:focus ~ .line , .container .row .message textarea:valid ~ .line{
  height: 100%;
}

